.button_div {
    display: flex;
    justify-content: center;
}

.button_item {
    font-size:  25px;
    border: 1px solid rgb(214, 214, 219); 
    background-color: rgb(104, 83, 136);   
    color: #fff;
    border-radius: 5px;
    outline: none;
    padding: 0 20px;
    cursor: pointer;   
}
.package {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
