.container {
  text-align: center;
  background-color: #868bc3;
}

.title {
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
}

.description {
  color: #fff;
  margin-top: 0;
}